.events-control {
    text-align: center;
    border: 1px solid #0086b3;
    padding: 1rem;
    margin: 1rem auto 2.5rem auto;
    width: 30rem;
    max-width: 80%;
    z-index: 300;
    display:block;
}

.center {
    display: flex;
    justify-content: center;
}