.card-container {
  display: flex;
  flex-direction: column;
  /* background-color: #042464; */
  /* background-color: #6aaec5; */
  /* background-color: #209bac; */
  background-color: #BBE5F3;
  border: 1px solid #209bac;;;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  color: black;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.26);
}

.card-container:hover {
  transform: scale(1.05);
}

.card-container h4 {
  font-size: 1rem !important;
  padding-bottom: .66rem;
}

.image-container {
  width: 100%
}

.product-image {
  display: block;
  height: 180px;
  width: auto;
  margin: auto;
  border-radius: 7px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.26);

}

td:nth-child(2) {
  padding-left: 10px;
}
table {
  /* box-shadow: 1px 1px 5px rgba(0,0,0,0.26); */
  margin: auto;
  margin-top: 5px;
}
.capitalize{
  text-transform: capitalize;
}
.pad {
  padding-top: .5rem;
}
