Footer .flex-container {
    display: flex;
    margin-top: -20px;
    justify-content: space-around;
    margin-bottom: 30px;
    color: white;
    /* background: #042464 */
}
Footer .contact, .services, .information {
    margin-top: 1rem;
    flex-grow: 3;
}

Footer .contact {
    margin-left: .5rem;
}
Footer .flex-container strong {
    color: #209bac;
}
Footer .flex-container a {
    color: white;
}
footer {
    font-size:1.2rem;
    background: #042464;
}
@media (max-width: 768px) {
    Footer .flex-container {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 5px;
        
    }
    Footer .small-spacer {
        display:none;
    }
    Footer .contact, Footer .services, Footer .information {
        /* color: orange; */
        align-self: center;
        margin: 5px;
    }
    Footer .tabbed{
        margin-left: 1.5rem;
    }
}